img#logo {
	height:auto;
	width:auto;
	display:block;
}

p#tagline {
	position: absolute;
	height:10%;
	width: 20%;
	z-index: 10000;
	margin-top:.5%;
	font-family: fantasy;
	font-size: 80%
}

ul#menu {
	margin-top: -1.8%;
	margin-left:30%;
}

ul#menu li {
	display: inline;
	margin-right:5%;
}

ul#menu li a {
	color: white;
	background-color: #E1B74D; /*#DAA520*/
	padding:5px 13px;
	border-radius: 10px 10px 0 0; 
	}

ul#menu li a:hover {
	background-color: blue; 
}

#heading {
	display:block;
	position:relative;
	background-color: #d6d9d9;
	margin-top:-.8%;
}

#intro {
	font-size: 20px;
	color: #20B2AA; /*#8d9193*/
	padding: 10px 0 10px 20px;
	width: auto;
	margin-top: 0%;
	text-align: center;
	font-family: Papyrus;
}

#content {
	position: relative;
	background-color: #fff;
	width: 50%;
	height:70%;
	padding: 30px;
	border-top: 5px solid #858f95;
	box-shadow: 0 0 80px; /*rgba(0, 0, 0, 0.2)*/
	margin-top:-1%;
	margin-left:23%;
}

#section {
	border-right:dotted gray 1px;
	margin-right:40%;
	margin-top:2%;
	height:95%;
}

.contentheadingstyle {
	color:#20B2AA;
	font-family: Papyrus;
}

#contentright {
	margin-left:57%;
	margin-top:-52%;
	margin-right:4%;
	position:absolute;
	padding:2px;
}







